* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;    
}
body{
    background-image: url(../images/cricketball2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Header Menu */
.header{
    background-color: rgba(255, 255, 255, 0.5);
    /* height: 4.5vh; */
    height: 30px;
}
.header ul{
    /* list-style-type: none; */
    padding-left: 0;
}

/* Social Media Links */
.social-media{
    position: absolute;
    top: 0px;
    right: 10px;
}
.social-media li{
    display: inline-block;
    margin-left: 10px;
}

.social-media a i{
    font-size: 20px;
    margin-top: 5px;
    margin-right: 2vw;
}
.social-media ul{
    display: flex;
    flex-direction: row;
}

/* Menu */
.menu{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.60);
    position: fixed;
    height: 100px;
    width: 100%;
    align-items: center;
    z-index: 1;
    /* list-style-type: none; */
    /* box-sizing: border-box; */
}
.menu img {
    float: left;
}
.menu nav {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    /* float: right; */
}
.menu-a {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 35px;
    color: white;
    /* font-size: 15px; */
    font-weight: bold;
    text-transform: uppercase;
}
.submenu-content-a {
    text-decoration: none;
    color: white;
    /* float: left; */
}
#menu_media {
    align-self: center;
}

.menu-content-li {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    border-bottom: 2px solid transparent;
}
.menu-content-li:hover {
    border-bottom: 2px solid white;
    background-color: rgb(244, 155, 0, 0.75);
}
.submenu-content {
    position: absolute;
    /* left: 0px; */
    top: 101px;
    margin-right: 100px;
    display: none;
    width: 190px;
    text-align: left;
    padding: 0;
}
.submenu-content li {
    background-color: rgb(0, 0, 0, 0.8);
    border-bottom: 1px solid transparent;
    margin: 0;
    padding-top: 10px;
}
.submenu-content li:hover {
    background-color: rgb(244, 155, 0, 0.5);
    border-bottom: 1px solid white;
}

li,
.submenu-content > li {
    display: inline-block;
    /* padding: 10px 20px; */
    width: 150px;
    height: 40px;
    text-align: center;
}
.menu-content-li:hover ul {
    display: block;
}
#menu-media > li:hover {
    cursor: pointer;
    color: white;
    border-bottom: 2px solid black;
}

/* =========== Body Container =========== */

/* Welcome */
.bodycontainer{
    /* position: relative;
    margin: 0px;
    margin-bottom: 25vh;
    margin-right: 25vh;
    background-color: rgb(244, 155, 0, 0.5);
    width: 85vw;
    padding: 2rem;
    top: 18vh;
    /* left: 5vw; */
    top: 18vh;
    position: relative;
    background-color: rgb(244, 155, 0, 0.5);
    padding: 10rem;
    margin-bottom: 25vh;

}

.textabout{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2rem;
}

ul.tournamentlist {
    list-style-type: circle;
}
  
/*TITLE STANDARD STYLE*/

.titlestd {
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.2rem;
    margin-bottom: 15px;
    margin-top: 15px;    
}

.council{
    font-size: 3rem;
    letter-spacing: 0;
    text-align: center;
}


/*GO TO TOP BUTTON BTN*/
/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    bottom: 30px;
    float: right;
    right: 1%;
    left: 77.25%;
    max-width: 50px;
    width: 100%;
    font-size: 40px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgba(255, 255, 255, 0.6);

    padding: .5px;
    border-radius: 50px;
    z-index: 1;

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #7dbbf1;
}




/* CLUB MANAGEMENT */

.managementwrapper {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper>div {
    background: #eee;
    padding: 1em;
}

.wrapper>div:nth-child(odd) {
    background: #ddd;
}

/* COUNCIL */

html, body, .grid-container { height: 100%; margin: 0; }

.role{
    font-weight: bolder;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 2em 2em;
  grid-template-areas: "president operations finance" "administration develop facilities";
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.president {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "role" "name" "phone" "email";
  grid-area: president;
}
.operations {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "role" "name" "phone" "email";
  grid-area: operations;
}
.finance {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "role" "name" "phone" "email";
  grid-area: finance;
}
.administration {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "role" "name" "phone" "email";
  grid-area: administration;
  
}
.develop {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "role" "name" "phone" "email";
  grid-area: develop;
}
.facilities {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "role" "name" "phone" "email";
  grid-area: facilities;
}

/* LIFE MEMBERS CONTENT */
.lifememberscontainer{
    top: 10vh;
    position: relative;
    background-color: rgb(244, 155, 0, 0.5);
    padding: 7rem;
    margin-bottom: 5vh;
}

.lifetext{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2rem;}

#lifemembers1{
    display: flex;
    flex-direction: row;
}
#lifediv{
    display: flex;
    flex-direction: row;
}
#lifetext p{
    width: 35vw;
    margin: 0 30px;
    line-height: 30px;
}




/*PROGRAMS CONTAINER*/

/* LIFE MEMBERS CONTENT */
.programscontainer{
    top: 10vh;
    position: relative;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 7rem;
    margin-bottom: 5vh;
}

.programstext{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5rem;}

#programs1{
    display: flex;
    flex-direction: row;
}
#programsdiv{
    display: flex;
    flex-direction: row;
}



/* Footer */

footer{
    position: sticky;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    padding: 0.5vh 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

/* =========== Hamburger Bar =========== */
.checkbtn{
    font-size: 30px;
    color: white;
    line-height: 80px;
    cursor: pointer;
    margin: 0 0;
    display: none;
}
#check{
    margin: 0 0;
    display: none;
}

/* =========== Medias =========== */
@media screen and (max-width:1024px) {
    body{
        background-image: url(/images/cricketball2.jpg);
        /* background-size: contain; */
    }
    
    /* Header - Social Media */
    .social-media {
        position: absolute;
        top: 0px;
        right: 20px;
    }
    .social-media li{
        display: inline-block;
        margin-left: 20px;
    }
    .social-media a i {
        font-size: 20px;
        margin-right: 10px;
    }

    /* Menu */
    .menu{
        position: flex;
        width: 100%;
        /* changes we made*/
        background-color: rgb(0, 0, 0, 0.75);
        /* padding-left: 100px; */
    }

    #logo-image{
        margin: 0 auto;
        /* padding-left: 335px; */
        padding-left: 30vw;
    }

    /*TEST NEW HAMBURGUER BAR*/

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }    
    
  /*FINISH NEW HAMBURGUER BAR*/

    #check {
        display: flex;
        display: none;
    }
    .checkbtn{
        display: block;
        position: relative;
        top:20px;
        left: 180px;
        /* background-color: violet; */
    }
    .menu nav {
        display: inline-block;
    }
    #menu_media{
        position: absolute;
        width: 300px;
        /* height: 100vh; */
        background-color: white;
        top: 130px;
        left: -350px;
        text-align: center;
        padding: 0;
    }

    nav ul li {
        display: inline-block;
        background-color: red;
        margin: 0;
        padding: 0;
    }
    .submenu-content {
        position: absolute;
        padding: 0;
        margin-left: 50px;
    }
    #check:checked ~ nav ul{
        /* left: 100%; */
        display: column;
        left: 0px;
        width: 100%;
    }

    /* Body Container */
    .bodycontainer{
        /* margin: 0px auto; */
        width: 80vw;
        background-color: rgb(244, 155, 0, 0.75);
        left: 0;
        right: 0;
        margin: 5vh;
        margin-bottom: 30vh;
    }
    .aboutcontainer{
        margin: 0 auto;
        width: 80vw;
        background-color: rgb(244, 155, 0, 0.75);
    }
    #aboutitem{
        flex-direction: column;
    }
    #row_media{
        margin-bottom: 50px;
    }
    #aboutitem p:nth-child(1){
        margin: 0 auto;
    }
}
@media screen and (max-width:375px) {

    /* Header - Social Media */
    .social-media {
        position: absolute;
        top: 0px;
        right: 20px;
    }
    .social-media li{
        display: inline-block;
        margin-left: 10px;
    }
    .social-media a i {
        font-size: 20px;
        margin-right: 10px;
    }
    /* Menu */
    .menu{
        position: static;
        /* width: 100vw; */
        /*changes we made*/
        background-color: rgb(0, 0, 0, 0.75);
        /* padding-left: 100px; */
    }
    .checkbtn{
        left: 15px;
    }

    /* #menu_media{
        top: 300px
    } */

    .imglogotext{
        width: 80vw;
        margin-bottom: 3px;
    }

    /* Body Container */
    .bodycontainer{
        left: 1vw;
        /* width: 80vw; */
        width: 335px;
        padding-right: 50px;
        background-color: rgb(244, 155, 0, 0.75);
    }
    .aboutcontainer{
        margin: 0 auto;
        width: 80vw;
        background-color: rgb(244, 155, 0, 0.75);
    }
    .titlewelcome{
        font-size: 3rem;
        line-height: 70px;
        margin-bottom: 40px;
    }
    .abouttitle{
        font-size: 3rem;
        margin-bottom: 40px;
    }
    #aboutitem{
        flex-direction: column;
    }
    #row_media{
        flex-direction: column;
    }
    #aboutitem p{
        width: auto;
        margin: 0 auto;
    }
    #secondbox{
        margin-top: 20px;
    }
    #slideshow{
        width: 250px;
        height: 200px;
    }
    #image_box{
        width: 750px;
    }
    .slider-image {
        width: 250px;
        height: 200px;
    }
    #slider-image-2:target~#image_box {
        left: -250px;
    }
    #slider-image-3:target~#image_box {
        left: -500px;
    }
}

@media screen and (max-width:425px) {

    /* Header - Social Media */
    .social-media {
        position: absolute;
        top: 0px;
        right: 5px;
    }
    .social-media li{
        display: inline-block;
        margin-left: 10px;
    }
    .social-media a i {
        font-size: 20px;
        margin-right: 10px;
    }

    /* Menu */
    .menu{
        position: static;
        /* width: 100vw; */
        /*changes we made*/
        background-color: rgb(0, 0, 0, 0.75);
        /* padding-left: 100px; */
    }
    .checkbtn{
        left: 15px;
    }
    #menu_media{
        top: 16.2vh;
    }
    .imglogotext{
        width: 80vw;
        margin-bottom: 3px;
    }

    /* Body */
    .bodycontainer{
        /* margin: 0px auto; */
        /* padding-right: 6.8vw; */
        padding-left: 4vw;
        margin-left: 0;
        width: 80vw;
        background-color: rgb(244, 155, 0, 0.75);
    }
    .titlewelcome{
        font-size: 3rem;
        line-height: 70px;
        margin-bottom: 40px;
    }
    .abouttitle{
        font-size: 3rem;
        margin-bottom: 40px;
    }
    #aboutitem{
        flex-direction: column;
    }
    #row_media{
        flex-direction: column;
    }
    #aboutitem p{
        width: auto;
        margin: 0 auto;
    }
    #secondbox{
        margin-top: 20px;
    }
    #slideshow{
        width: 250px;
        height: 200px;
    }
    #image_box{
        width: 750px;
    }
    .slider-image {
        width: 250px;
        height: 200px;
    }
    #slider-image-2:target~#image_box {
        left: -250px;
    }
    #slider-image-3:target~#image_box {
        left: -500px;
    }
}

@media screen and (max-width:320px) {

    /* Header - Social Media */
    .social-media {
        position: absolute;
        top: 0px;
        right: 10px;
    }
    .social-media li{
        display: inline-block;
        /* margin-left: 10px; */
    }
    .social-media a i {
        font-size: 20px;
        /* margin-right: 10px; */
    }

    /* Menu */
    .menu{
        position: static;
        /* width: 100vw; */
        /*changes we made*/
        background-color: rgb(0, 0, 0, 0.75);
        /* padding-left: 100px; */
    }
    .checkbtn{
        left: 15px;
    }
    #menu_media{
        top: 16.2vh;
    }
    .imglogotext{
        width: 80vw;
        margin-bottom: 3px;
    }

    /* Body */
    .bodycontainer{
        /* margin: 0px auto; */
        /* padding-right: 6.8vw; */
        padding-left: 4vw;
        margin-left: 0;
        width: 80vw;
        background-color: rgb(244, 155, 0, 0.75);
    }
    .titlewelcome{
        font-size: 3rem;
        line-height: 70px;
        margin-bottom: 40px;
    }
    .abouttitle{
        font-size: 3rem;
        margin-bottom: 40px;
    }
    #aboutitem{
        flex-direction: column;
    }
    #row_media{
        flex-direction: column;
    }
    #aboutitem p{
        width: auto;
        margin: 0 auto;
    }
    #secondbox{
        margin-top: 20px;
    }
    #slideshow{
        width: 250px;
        height: 200px;
    }
    #image_box{
        width: 750px;
    }
    .slider-image {
        width: 250px;
        height: 200px;
    }
    #slider-image-2:target~#image_box {
        left: -250px;
    }
    #slider-image-3:target~#image_box {
        left: -500px;
    }
}

@media screen and (max-width:768px) {
    
    #menu_media {       
        top: 9.8vh;      
    }
}