* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/mapvancouver2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Header Menu */

.header {
    background-color: rgba(255, 255, 255, 0.5);
    height: 30px;
    width: 100%;
}

.header ul {
    list-style-type: none;
    padding-left: 0;
}

/* Social Media Links */

.social-media {
    display: absolute;
    float: right;
    right: 10px;
}

.social-media li {
    margin-right: 35px;
}

.social-media a i {
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
    color: black;
}

.social-media ul {
    display: flex;
    flex-direction: row;
}

/* Menu */

.menu {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0px;
    height: 75px;
    width: 100%;
    align-items: center;
    z-index: 1;
    list-style-type: none;
}

#logo-image {
    position: relative;
    top: 10px;
    margin-left: 10px;
    /* Change - Lucas */
}

nav {
    margin-left: 100px;
    /* Change - Lucas */
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

.menu-content-li:hover {
    background-color: rgb(244, 155, 0, 0.75);
}

nav ul li {
    display: inline-block;
    width: 10vw;
    text-align: center;
}

.submenu-content li {
    background-color: rgb(0, 0, 0, 0.8);
}

.submenu-content-a {
    display: block;
    /* Change - Lucas */
}

.submenu-content li:hover {
    background-color: rgb(244, 155, 0, 0.8);
    border-bottom: 3px solid white;
}

.menu-a {
    display: block;
    font-weight: bold;
    /* Change - Lucas */
    text-transform: uppercase;
    /* Change - Lucas */
}

nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 15px;
}

nav ul ul li a:hover {
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid white;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 10vw;
    float: none;
    display: list-item;
    background-color: rgba(0, 0, 0, 0.8);
    /* Change - Lucas */
    border-bottom: 3px solid transparent;
    /* Change - Lucas */
}

nav ul ul li a {
    line-height: 50px;
}

.show, .icon, input {
    display: none;
}

/* Body */

.body-section {
    width: 100%;
}

.grid-container {
    margin: 50px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 80px 1px;
    grid-template-areas: "contact-grid" "location-grid" "newsletter-grid";
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 1px 1px;
    grid-template-areas: "contact-title contact-title" "contact-form contact-info";
    grid-area: contact-grid;
    background-color: rgba(255, 255, 255, 0.8);
}

.contact-title {
    grid-area: contact-title;
    text-align: center;
    font-size: 52px;
    padding: 30px;
    font-weight: bold;
}

.contact-form {
    grid-area: contact-form;
    margin: 0 auto;
    width: 100%;
}

.formItem {
    margin: 0 auto;
    padding-bottom: 10px;
    display: block;
}

.getintouch-form {
    display: block;
    margin: 0px 25px 0px 25px;
    border-radius: 5%;
    background-color: rgb(244, 155, 0, 0.7);
    padding: 5px;
    box-shadow: 5px 10px 8px #888888;
}

.getintouch-form h3 {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.formField {
    color: black;
    border: 3px solid black;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    border-radius: 10px;
    box-sizing: border-box;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.formLabel {
    color: black;
    margin-left: 20px;
    box-sizing: border-box;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.formBtn {
    display: block;
    margin: 0 auto;
    border: none;
    align-self: center;
    border-radius: 5px;
    background-color: rgba(6, 0, 6, 0.5);
    color: #fff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.formBtn:hover {
    background-color: rgb(0, 0, 0, 0.9);
}

.contact-info {
    grid-area: contact-info;
    text-align: center;
    line-height: 25px;
}

.contact-info p {
    font-size: 16px;
    font-weight: 550;
}

.contact-info a {
    color: black;
    text-decoration: none;
}

.contact-info h3 {
    font-size: 72px;
    margin-top: 70px;
    text-align: center;
    color: black;
}

.contact-info h4 {
    font-size: 22px;
    font-weight: bold;
}

.location-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 1px 1px;
    grid-template-areas: "location-title location-title" "location-info location-map";
    grid-area: location-grid;
    background-color: rgb(244, 155, 0, 0.8);
}

.location-title {
    grid-area: location-title;
}

.location-title h2 {
    text-align: center;
    font-size: 52px;
    padding: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.location-info {
    grid-area: location-info;
    text-align: center;
    line-height: 25px;
}

.location-info h3 {
    font-size: 72px;
    margin-top: 25%;
    text-align: center;
    color: black;
}

.location-map {
    grid-area: location-map;
}

#map-iframe {
    margin-right: 25px;
    margin-bottom: 25px;
}

.newsletter-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 1px 1px;
    grid-template-areas: "newsletter-title" "newsletter-form";
    grid-area: newsletter-grid;
    background-color: rgba(255, 255, 255, 0.8);
}

.newsletter-title {
    grid-area: newsletter-title;
}

.newsletter-title h2 {
    text-align: center;
    font-size: 52px;
    padding: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.newsletter-grid h3 {
    font-size: 72px;
    text-align: center;
}

.newsletter-form {
    width: 100%;
    align-self: center;
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.newslettertxtfield {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 80%;
}

.newslettertxtfield input {
    text-align: center;
}

.newsletterbtn {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 250px;
    margin-top: 10px;
}

.newsletterbtn input {
    display: block;
}

.newsletterButton {
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(6, 0, 6, 0.5);
    color: #fff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.newsletterButton:hover {
    background-color: rgb(0, 0, 0, 0.9);
}

/* Top button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(244, 155, 0, 0.75);
    /* background-color: red; */
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 1.5fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "footer-img footer-followUs";
    background-color: rgba(255, 255, 255, 0.5);
}

footer i {
    font-size: 26px;
}

#footerFace {
    color: rgb(66, 103, 178);
}

#footerInsta {
    color: rgb(193, 53, 132);
}

#footerTwit {
    color: rgb(29, 161, 242);
}

.footer-img {
    width: 40vw;
}

#copyright {
    position: sticky;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    padding: 0.5vh 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width:1160px) {
    /* Menu 1160px */
    #menu_media {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        position: absolute;
        left: 0px;
        top: 75px;
        opacity: 0.8;
    }
    nav {
        margin: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
    nav ul {
        margin-right: 0px;
        float: left;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .submenu-content-a {
        display: block;
    }
    nav .logo {
        padding-left: 30px;
        width: 100%;
    }
    .show+a, ul {
        display: none;
    }
    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        /* Change - Lucas */
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    .show {
        display: block;
        color: white;
        font-size: 15px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
        font-weight: bold;
        /* Change - Lucas */
        text-transform: uppercase;
        /* Change - Lucas */
    }
    .show:hover {
        color: cyan;
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    nav ul ul {
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a {
        padding-left: 0;
        /* Change - Lucas */
        display: block;
        /* Change - Lucas */
    }
    nav ul ul ul a {
        padding-left: 0px;
        /* Change - Lucas */
        text-align: left;
        /* Change - Lucas */
        display: block;
        /* Change - Lucas */
    }
    nav ul ul ul li {
        position: static;
    }
    [id^=btn]:checked+ul {
        display: block;
    }
    nav ul ul li {
        border-bottom: 0px;
    }
    span.cancel:before {
        content: '\f00d';
    }
    /* Body 1160px */
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 15px 1px;
        grid-template-areas: "contact-grid" "location-grid" "newsletter-grid";
    }
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.3fr 1.3fr;
        gap: 1px 1px;
        grid-template-areas: "contact-title" "contact-form" "contact-info";
        grid-area: contact-grid;
    }
    .contact-title {
        grid-area: contact-title;
    }
    .contact-form {
        grid-area: contact-form;
        width: 70%;
    }
    .contact-info {
        grid-area: contact-info;
    }
    .location-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.3fr 1.3fr;
        gap: 1px 1px;
        grid-template-areas: "location-title" "location-info" "location-map";
        grid-area: location-grid;
    }
    .location-title {
        grid-area: location-title;
    }
    .location-info {
        grid-area: location-info;
    }
    .location-map {
        grid-area: location-map;
        text-align: center;
    }
    #map-iframe {
        width: 90%;
        margin: 0;
    }
    .newsletter-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.6fr;
        gap: 1px 1px;
        grid-template-areas: "newsletter-title" "newsletter-form";
        grid-area: newsletter-grid;
    }
    .newsletter-title {
        grid-area: newsletter-title;
    }
    .newsletter-form {
        grid-area: newsletter-form;
    }
    /* Footer 1160px */
    footer {
        display: grid;
        grid-template-columns: 1.5fr 0.7fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas: "footer-img footer-followUs";
        background-color: rgba(255, 255, 255, 0.5);
    }
    footer i {
        font-size: 26px;
    }
    #footerFace {
        color: rgb(66, 103, 178);
    }
    #footerInsta {
        color: rgb(193, 53, 132);
    }
    #footerTwit {
        color: rgb(29, 161, 242);
    }
    .footer-img {
        width: 70vw;
    }
}

@media screen and (max-device-width: 812px) {
    body {
        background-image: url(../images/mapvancouver.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    /* Body 812px */
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "contact-grid" "location-grid" "newsletter-grid";
    }
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.3fr 1.3fr;
        gap: 1px 1px;
        grid-template-areas: "contact-title" "contact-form" "contact-info";
        grid-area: contact-grid;
    }
    .contact-title {
        grid-area: contact-title;
    }
    .contact-form {
        grid-area: contact-form;
    }
    .contact-info {
        grid-area: contact-info;
    }
    .location-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.3fr 1.3fr;
        gap: 1px 1px;
        grid-template-areas: "location-title" "location-info" "location-map";
        grid-area: location-grid;
    }
    .location-title {
        grid-area: location-title;
    }
    .location-info {
        grid-area: location-info;
    }
    .location-map {
        grid-area: location-map;
        text-align: center;
    }
    #map-iframe {
        margin: 0;
        margin-bottom: 50px;
    }
    .newsletter-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.6fr;
        gap: 1px 1px;
        grid-template-areas: "newsletter-title" "newsletter-form";
        grid-area: newsletter-grid;
    }
    .newsletter-title {
        grid-area: newsletter-title;
    }
    .newsletter-form {
        grid-area: newsletter-form;
    }
    /* Footer 812px*/
    footer {
        display: grid;
        grid-template-columns: 1.5fr 0.7fr;
        grid-template-rows: 1fr;
        gap: 1px 1px;
        grid-template-areas: "footer-img footer-followUs";
        background-color: rgba(255, 255, 255, 0.5);
    }
    footer i {
        font-size: 26px;
    }
    #footerFace {
        color: rgb(66, 103, 178);
    }
    #footerInsta {
        color: rgb(193, 53, 132);
    }
    #footerTwit {
        color: rgb(29, 161, 242);
    }
    .footer-img {
        width: 70vw;
    }
}

@media screen and (max-width:375px) {
    * {
        margin: 0;
        padding: 0;
        font-size: 1em;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "contact-grid" "location-grid" "newsletter-grid";
    }
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "contact-title" "contact-form" "contact-info";
        grid-area: contact-grid;
    }
    .contact-title {
        grid-area: contact-title;
    }
    .contact-form {
        grid-area: contact-form;
    }
    .getintouch-form {
        margin: 0;
    }
    .formItem {
        width: 60vw;
    }
    .contact-info {
        grid-area: contact-info;
    }
    .location-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.3fr 1.3fr;
        gap: 1px 1px;
        grid-template-areas: "location-title" "location-info" "location-map";
        grid-area: location-grid;
    }
    .location-title {
        grid-area: location-title;
    }
    .location-info {
        grid-area: location-info;
    }
    .location-map {
        grid-area: location-map;
    }
    #map-iframe {
        width: 300px;
    }
    .newsletter-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.6fr;
        gap: 1px 1px;
        grid-template-areas: "newsletter-title" "newsletter-form";
        grid-area: newsletter-grid;
    }
    .newsletter-title {
        grid-area: newsletter-title;
    }
    .newsletter-form {
        grid-area: newsletter-form;
    }
    footer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "footer-followUs" "footer-img";
        grid-area: footer-grid;
    }
    .footer-img {
        grid-area: footer-img;
    }
    #footerImg {
        width: 100vw;
    }
    .footer-followUs {
        grid-area: footer-followUs;
        text-align: center;
    }
}

@media only screen and (min-width: 1824px) {
    .grid-container {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}