* {
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: goldenrod;
}
#main{
    
}
#title_img{
    animation-name: title;
    animation-delay: 0s;
    width: 480px;
    animation-duration: 3s;
    float: left;

}
#menu-cointainer {
    display: block;
    
    
    
}
.menu {
    align-content: center;
    background-color: rgba(255,255,255,.2);
    
}
.menu ul {
    margin-left: 500px;
    align-content: center;
    display: flex;
    list-style-type: none;
    
}
.menu li {
    display: relative;
    padding: 10px;
    
}
.menu li:hover {
    
}
.menu a {
    text-align: center;
   
}

/* ========== animation ========== */

@keyframes title{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

/* ========== responsive ==========*/

@media screen and (max-width:1024px) {

}
@media screen and (max-width:768px) {

}
@media screen and (max-width:375px) {
    .menu a:not(:first-child) {
        display: none;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
  }

}