* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

body {
  background-image: url(../images/image12.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* width: 100vw; */
}

/* Header Menu */

.header {
  background-color: rgba(255, 255, 255, 0.5);
  height: 30px;
  width: 100%;
}

.header ul {
  list-style-type: none;
  padding-left: 0;
}

/* Social Media Links */

.social-media {
  display: absolute;
  float: right;
  right: 10px;
}

.social-media li {
  margin-right: 35px;
}

.social-media a i {
  font-size: 20px;
  margin: 0;
  margin-top: 5px;
  color: black;
}

.social-media ul {
  display: flex;
  flex-direction: row;
}

/* Menu */

.menu {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0px;
  height: 75px;
  width: 100%;
  align-items: center;
  z-index: 1;
  list-style-type: none;
}

#logo-image {
  position: relative;
  top: 10px;
  margin-left: 10px;
  /* Change - Lucas */
}

nav {
  margin-left: 100px;
  /* Change - Lucas */
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

.menu-content-li:hover {
  background-color: rgb(244, 155, 0, 0.75);
}

nav ul li {
  display: inline-block;
  width: 10vw;
  text-align: center;
}

.submenu-content li {
  background-color: rgb(0, 0, 0, 0.8);
}

.submenu-content-a {
  display: block;
  /* Change - Lucas */
}

.submenu-content li:hover {
  background-color: rgb(244, 155, 0, 0.8);
  border-bottom: 3px solid white;
}

.menu-a {
  display: block;
  font-weight: bold;
  /* Change - Lucas */
  text-transform: uppercase;
  /* Change - Lucas */
}

nav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 15px;
}

nav ul ul li a:hover {
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid white;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul ul ul {
  border-top: none;
}

nav ul li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 10vw;
  float: none;
  display: list-item;
  background-color: rgba(0, 0, 0, 0.8);
  /* Change - Lucas */
  border-bottom: 3px solid transparent;
  /* Change - Lucas */
}

nav ul ul li a {
  line-height: 50px;
}

.show, .icon, input {
  display: none;
}

/*====END OF MENU======*/

/* ========BODY==========*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .8fr .3fr .4fr;
  gap: 80px 1px;
  margin: 50px 20px;
  grid-template-areas: "JuniorCricket" "schoolcricket" "summercamp";
}

.grid-container p {
  line-height: 30px;
  text-align: justify;
}

.grid-container h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}

.grid-container h2 {
  text-align: center;
  margin: 20px;
  color: green;
  font-weight: bold;
}
.grid-container dd {
  line-height: 30px;

}

.JuniorCricket {
  background-color: rgb(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "juniortext1 juniorpic1" "juniorpic2 juniortex2" "juniortext3 juniorpic3";
  grid-area: JuniorCricket;
  /* margin-bottom: 50px; */
}

.juniortext1 {
  grid-area: juniortext1;
  padding: 2rem;
  top: 18vh;
  left: 30vw;
}

.juniorpic1 {
  grid-area: juniorpic1;
}

.imgjunior1 {
  /*border-radius: 8px;*/
  width: 40vw;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 4%;
}

.juniorpic2 {
  grid-area: juniorpic2;
}

.imgjunior2 {
  /*border-radius: 8px;*/
  width: 40vw;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 7%;
}

.juniortex2 {
  grid-area: juniortex2;
  padding: 2rem;
  top: 18vh;
  left: 30vw;
}

.juniortext3 {
  grid-area: juniortext3;
  padding: 2rem;
  top: 18vh;
  left: 30vw;
}

.juniorpic3 {
  grid-area: juniorpic3;
}

.imgjunior3 {
  /*border-radius: 8px;*/
  width: 40vw;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 4%;
}

/* .juniorhead {
  background-color: rgb(255, 255, 255, 0.8);
  width: 50%;
} */

.schoolcricket {
  background-color: rgb(244, 155, 0, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "schoolpic schooltext";
  grid-area: schoolcricket;
  /* margin-bottom: 50px; */
}

.schoolpic {
  grid-area: schoolpic;
}

.imgschool1 {
  /*border-radius: 8px;*/
  width: 40vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.schooltext {
  grid-area: schooltext;
  padding: 2rem;
  top: 18vh;
  left: 30vw;
}

/* .schoolhead{ Doubt
  background-color: rgb(255, 255, 255, 0.8);
      width: 100%;
  }  */

.summercamp {
  background-color: rgb(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "summerpic summertex";
  grid-area: summercamp;
  /* margin-bottom: 50px; */
}

.summerpic {
  grid-area: summerpic;
}

.imgsummer1 {
  /*border-radius: 8px;*/
  width: 40vw;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.summertex {
  grid-area: summertex;
  padding: 2rem;
  top: 18vh;
  left: 30vw;
}

/* .summerhead{

  background-color: rgb(255, 255, 255, 0.8);
      width: 50%;
} */

/*=====END OF BODY========*/

/* ======Footer======= */

footer {
  display: grid;
  grid-template-columns: 1.5fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "footer-img footer-followUs";
  background-color: rgba(255, 255, 255, 0.5);
}

footer i {
  font-size: 26px;
}

#footerFace {
  color: rgb(66, 103, 178);
}

#footerInsta {
  color: rgb(193, 53, 132);
}

#footerTwit {
  color: rgb(29, 161, 242);
}

.footer-img {
  width: 40vw;
}

#copyright {
  position: sticky;
  bottom: 0px;
  margin: 0 auto;
  width: 100%;
  padding: 0.5vh 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

/*=====END OF FOOTER======*/

/*=====RESPONSIVE 1418px=====*/

/*======RESPONSIVE=======*/

@media screen and (max-width:1160px) {
  /*===BODY====*/
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .5fr .3fr .4fr;
    gap: 80px 1px;
    margin: 50px 20px;
    grid-template-areas: "JuniorCricket" "schoolcricket" "summercamp";
  }
  .JuniorCricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr .3fr 1fr .3fr .5fr;
    gap: 1px 1px;
    grid-template-areas: "juniortext1" "juniorpic1" "juniortex2" "juniorpic2" "juniortext3" "juniorpic3";
    grid-area: JuniorCricket;
    /* margin-bottom: 25px; */
  }
  .juniorpic1 {
    grid-area: juniorpic1;
  }
  .imgjunior1 {
    /*border-radius: 8px;*/
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext1 {
    grid-area: juniortext1;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic2 {
    grid-area: juniorpic2;
  }
  .imgjunior2 {
    /*border-radius: 8px;*/
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortex2 {
    grid-area: juniortex2;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic3 {
    grid-area: juniorpic3;
  }
  .imgjunior3 {
    /*border-radius: 8px;*/
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext3 {
    grid-area: juniortext3;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .schoolcricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "schooltext" "schoolpic";
    grid-area: schoolcricket;
    /* margin-bottom: 25px; */
  }
  .schoolpic {
    grid-area: schoolpic;
  }
  .imgschool1 {
    /*border-radius: 8px;*/
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .schooltext {
    grid-area: schooltext;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .summercamp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "summertex" "summerpic";
    grid-area: summercamp;
    /* margin-bottom: 25px; */
  }
  .summerpic {
    grid-area: summerpic;
  }
  .imgsummer1 {
    /*border-radius: 8px;*/
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .summertex {
    grid-area: summertex;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  /* Menu 1160px */
  #menu_media {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    left: 0px;
    top: 75px;
    opacity: 0.8;
  }
  nav {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  nav ul {
    margin-right: 0px;
    float: left;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .submenu-content-a {
    display: block;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show+a, ul {
    display: none;
  }
  nav ul li, nav ul ul li {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Change - Lucas */
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 15px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
    font-weight: bold;
    /* Change - Lucas */
    text-transform: uppercase;
    /* Change - Lucas */
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 0;
    /* Change - Lucas */
    display: block;
    /* Change - Lucas */
  }
  nav ul ul ul a {
    padding-left: 0px;
    /* Change - Lucas */
    text-align: left;
    /* Change - Lucas */
    display: block;
    /* Change - Lucas */
  }
  nav ul ul ul li {
    position: static;
  }
  [id^=btn]:checked+ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: '\f00d';
  }
  /* Footer 1160px */
  footer {
    display: grid;
    grid-template-columns: 1.5fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "footer-img footer-followUs";
    background-color: rgba(255, 255, 255, 0.5);
  }
  footer i {
    font-size: 26px;
  }
  #footerFace {
    color: rgb(66, 103, 178);
  }
  #footerInsta {
    color: rgb(193, 53, 132);
  }
  #footerTwit {
    color: rgb(29, 161, 242);
  }
  .footer-img {
    width: 70vw;
  }
}

/*====RESPONSIVE 812px =====*/

@media screen and (max-device-width: 812px) {
  /*===BODY====*/
  * {
    margin: 0;
    padding: 0;
    /* font-size: 1em; */
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .5fr .3fr .4fr;
    gap: 80px 1px;
    margin: 50px 20px;
    grid-template-areas: "JuniorCricket" "schoolcricket" "summercamp";
  }
  .JuniorCricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr .3fr 1fr .3fr .5fr;
    gap: 1px 1px;
    grid-template-areas: "juniortext1" "juniorpic1" "juniortex2" "juniorpic2" "juniortext3" "juniorpic3";
    grid-area: JuniorCricket;
    /* margin-bottom: 25px; */
  }
  .juniorpic1 {
    grid-area: juniorpic1;
  }
  .imgjunior1 {
    /*border-radius: 8px;*/
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext1 {
    grid-area: juniortext1;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic2 {
    grid-area: juniorpic2;
  }
  .imgjunior2 {
    /*border-radius: 8px;*/
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortex2 {
    grid-area: juniortex2;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic3 {
    grid-area: juniorpic3;
  }
  .imgjunior3 {
    /*border-radius: 8px;*/
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext3 {
    grid-area: juniortext3;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .schoolcricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "schooltext" "schoolpic";
    grid-area: schoolcricket;
    /* margin-bottom: 25px; */
  }
  .schoolpic {
    grid-area: schoolpic;
  }
  .imgschool1 {
    /*border-radius: 8px;*/
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .schooltext {
    grid-area: schooltext;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .summercamp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "summertex" "summerpic";
    grid-area: summercamp;
    /* margin-bottom: 25px; */
  }
  .summerpic {
    grid-area: summerpic;
  }
  .imgsummer1 {
    /*border-radius: 8px;*/
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .summertex {
    grid-area: summertex;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "footer-followUs" "footer-img";
    grid-area: footer-grid;
  }
  .footer-img {
    grid-area: footer-img;
  }
  #footerImg {
    width: 100vw;
  }
  .footer-followUs {
    grid-area: footer-followUs;
    text-align: center;
  }
}

/*===RESPONSIVE 1024px=====*/

@media screen and (max-width:1024px) {
  /*===BODY====*/
  * {
    margin: 0;
    padding: 0;
    /* font-size: 1em; */
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .5fr .3fr .4fr;
    gap: 80px 1px;
    margin: 50px 20px;
    grid-template-areas: "JuniorCricket" "schoolcricket" "summercamp";
  }
  .JuniorCricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr .3fr 1fr .3fr .5fr;
    gap: 1px 1px;
    grid-template-areas:  "juniortext1" "juniorpic1" "juniortex2" "juniorpic2" "juniortext3" "juniorpic3";
    grid-area: JuniorCricket;
    /* margin-bottom: 25px; */
  }
  .juniorpic1 {
    grid-area: juniorpic1;
  }
  .imgjunior1 {
    /*border-radius: 8px;*/
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext1 {
    grid-area: juniortext1;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic2 {
    grid-area: juniorpic2;
  }
  .imgjunior2 {
    /*border-radius: 8px;*/
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortex2 {
    grid-area: juniortex2;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic3 {
    grid-area: juniorpic3;
  }
  .imgjunior3 {
    /*border-radius: 8px;*/
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext3 {
    grid-area: juniortext3;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .schoolcricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "schooltext" "schoolpic";
    grid-area: schoolcricket;
    /* margin-bottom: 25px; */
  }
  .schoolpic {
    grid-area: schoolpic;
  }
  .imgschool1 {
    /*border-radius: 8px;*/
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .schooltext {
    grid-area: schooltext;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .summercamp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "summertex" "summerpic";
    grid-area: summercamp;
    /* margin-bottom: 25px; */
  }
  .summerpic {
    grid-area: summerpic;
  }
  .imgsummer1 {
    /*border-radius: 8px;*/
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .summertex {
    grid-area: summertex;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "footer-followUs" "footer-img";
    grid-area: footer-grid;
  }
  .footer-img {
    grid-area: footer-img;
  }
  #footerImg {
    width: 40vw;
  }
  .footer-followUs {
    grid-area: footer-followUs;
    text-align: center;
  }
}

/*====RESPONSIVE 768px=====*/

@media screen and (max-width:768px) {
  /*===BODY====*/
  * {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .5fr .3fr .4fr;
    gap: 80px 1px;
    margin: 50px 20px;
    grid-template-areas: "JuniorCricket" "schoolcricket" "summercamp";
  }
  .JuniorCricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr .3fr 1fr .3fr .5fr;
    gap: 1px 1px;
    grid-template-areas: "juniortext1" "juniorpic1" "juniortex2" "juniorpic2" "juniortext3" "juniorpic3";
    grid-area: JuniorCricket;
    /* margin-bottom: 25px; */
  }
  .juniorpic1 {
    grid-area: juniorpic1;
  }
  .imgjunior1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext1 {
    grid-area: juniortext1;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic2 {
    grid-area: juniorpic2;
  }
  .imgjunior2 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortex2 {
    grid-area: juniortex2;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic3 {
    grid-area: juniorpic3;
  }
  .imgjunior3 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext3 {
    grid-area: juniortext3;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .schoolcricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "schooltext" "schoolpic";
    grid-area: schoolcricket;
    /* margin-bottom: 25px; */
  }
  .schoolpic {
    grid-area: schoolpic;
  }
  .imgschool1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .schooltext {
    grid-area: schooltext;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .summercamp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "summertex" "summerpic";
    grid-area: summercamp;
    /* margin-bottom: 25px; */
  }
  .summerpic {
    grid-area: summerpic;
  }
  .imgsummer1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .summertex {
    grid-area: summertex;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "footer-followUs" "footer-img";
    grid-area: footer-grid;
  }
  .footer-img {
    grid-area: footer-img;
  }
  #footerImg {
    width: 100vw;
  }
  .footer-followUs {
    grid-area: footer-followUs;
    text-align: center;
  }
}

/*====RESPONSIVE 425px =====*/

@media screen and (max-width:425px) {
  /*===BODY====*/
  * {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .5fr .3fr .4fr;
    gap: 80px 1px;
    margin: 50px 20px;
    grid-template-areas: "JuniorCricket" "schoolcricket" "summercamp";
  }
  .JuniorCricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr .3fr 1fr .3fr .5fr;
    gap: 1px 1px;
    grid-template-areas: "juniortext1" "juniorpic1" "juniortex2" "juniorpic2" "juniortext3" "juniorpic3";
    grid-area: JuniorCricket;
    /* margin-bottom: 25px; */
  }
  .juniorpic1 {
    grid-area: juniorpic1;
  }
  .imgjunior1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext1 {
    grid-area: juniortext1;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic2 {
    grid-area: juniorpic2;
  }
  .imgjunior2 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortex2 {
    grid-area: juniortex2;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic3 {
    grid-area: juniorpic3;
  }
  .imgjunior3 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext3 {
    grid-area: juniortext3;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .schoolcricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "schooltext" "schoolpic";
    grid-area: schoolcricket;
    /* margin-bottom: 25px; */
  }
  .schoolpic {
    grid-area: schoolpic;
  }
  .imgschool1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .schooltext {
    grid-area: schooltext;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .summercamp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "summertex" "summerpic";
    grid-area: summercamp;
    /* margin-bottom: 25px; */
  }
  .summerpic {
    grid-area: summerpic;
  }
  .imgsummer1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .summertex {
    grid-area: summertex;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "footer-followUs" "footer-img";
    grid-area: footer-grid;
  }
  .footer-img {
    grid-area: footer-img;
  }
  #footerImg {
    width: 100vw;
  }
  .footer-followUs {
    grid-area: footer-followUs;
    text-align: center;
  }
}

/*====RESPONSIVE 375px =====*/

@media screen and (max-width:375px) {
  /*===BODY====*/
  * {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .5fr .3fr .4fr;
    gap: 80px 1px;
    margin: 50px 20px;
    grid-template-areas: "JuniorCricket" "schoolcricket" "summercamp";
  }
  .JuniorCricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr .3fr 1fr .3fr .5fr;
    gap: 1px 1px;
    grid-template-areas: "juniortext1" "juniorpic1" "juniortex2" "juniorpic2" "juniortext3" "juniorpic3";
    grid-area: JuniorCricket;
    /* margin-bottom: 25px; */
  }
  .juniorpic1 {
    grid-area: juniorpic1;
  }
  .imgjunior1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext1 {
    grid-area: juniortext1;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic2 {
    grid-area: juniorpic2;
  }
  .imgjunior2 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortex2 {
    grid-area: juniortex2;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic3 {
    grid-area: juniorpic3;
  }
  .imgjunior3 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext3 {
    grid-area: juniortext3;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .schoolcricket {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "schooltext" "schoolpic";
    grid-area: schoolcricket;
    /* margin-bottom: 25px; */
  }
  .schoolpic {
    grid-area: schoolpic;
  }
  .imgschool1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .schooltext {
    grid-area: schooltext;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .summercamp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "summertex" "summerpic";
    grid-area: summercamp;
    /* margin-bottom: 25px; */
  }
  .summerpic {
    grid-area: summerpic;
  }
  .imgsummer1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .summertex {
    grid-area: summertex;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "footer-followUs" "footer-img";
    grid-area: footer-grid;
  }
  .footer-img {
    grid-area: footer-img;
  }
  #footerImg {
    width: 100vw;
  }
  .footer-followUs {
    grid-area: footer-followUs;
    text-align: center;
  }
}

/*========RESPONSIE 320px========*/

@media screen and (max-width:320px) {
  /*===BODY====*/
  * {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .5fr .3fr .4fr;
    gap: 80px 1px;
    margin: 50px 20px;
    grid-template-areas: "JuniorCricket" "schoolcricket" "summercamp";
  }
  .JuniorCricket {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .3fr 1fr .3fr 1fr .3fr .5fr;
    gap: 1px 1px;
    grid-template-areas: "juniortext1" "juniorpic1" "juniortex2" "juniorpic2" "juniortext3" "juniorpic3";
    grid-area: JuniorCricket;
    /* margin-bottom: 25px; */
  }
  .juniorpic1 {
    grid-area: juniorpic1;
  }
  .imgjunior1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext1 {
    grid-area: juniortext1;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic2 {
    grid-area: juniorpic2;
  }
  .imgjunior2 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortex2 {
    grid-area: juniortex2;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .juniorpic3 {
    grid-area: juniorpic3;
  }
  .imgjunior3 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .juniortext3 {
    grid-area: juniortext3;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .schoolcricket {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .4fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "schooltext" "schoolpic";
    grid-area: schoolcricket;
    /* margin-bottom: 25px; */
  }
  .schoolpic {
    grid-area: schoolpic;
  }
  .imgschool1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .schooltext {
    grid-area: schooltext;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  .summercamp {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .3fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "summertex" "summerpic";
    grid-area: summercamp;
    /* margin-bottom: 25px; */
  }
  .summerpic {
    grid-area: summerpic;
  }
  .imgsummer1 {
    /*border-radius: 8px;*/
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .summertex {
    grid-area: summertex;
    padding: 2rem;
    top: 18vh;
    left: 30vw;
  }
  footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "footer-followUs" "footer-img";
    grid-area: footer-grid;
  }
  .footer-img {
    grid-area: footer-img;
  }
  #footerImg {
    width: 100vw;
  }
  .footer-followUs {
    grid-area: footer-followUs;
    text-align: center;
  }
}