/* ########################## */
/* ########## body ########## */
/* ########################## */

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;    
}

body{
    background-image: url(../images/league_back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ############################ */
/* ########## header ########## */
/* ############################ */

.header {
    background-color: rgba(255, 255, 255, 0.8);
    height: 30px;
    width: 100%;
}

.header ul {
    list-style-type: none;
    padding-left: 0;
}

/* Social Media Links */

.social-media {
    display: absolute;
    float: right;
    right: 10px;
}

.social-media li {
    margin-right: 35px;
}

.social-media a i {
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
    color: black;
}

.social-media ul {
    display: flex;
    flex-direction: row;
}

/* ########################## */
/* ########## menu ########## */
/* ########################## */

.menu {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0px;
    height: 75px;
    width: 100%;
    align-items: center;
    z-index: 1;
    list-style-type: none;
}

#logo-image {
    position: relative;
    top: 10px;
    margin-left: 10px;
}

nav {
    margin-left: 100px;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

.menu-content-li:hover {
    background-color: rgb(244, 155, 0, 0.75);
}

nav ul li {
    display: inline-block;
    width: 10vw;
    text-align: center;
}

.submenu-content li {
    background-color: rgb(0, 0, 0, 0.8);
}

.submenu-content-a {
    display: block;
}

.submenu-content li:hover {
    background-color: rgb(244, 155, 0, 0.8);
    border-bottom: 3px solid white;
}

.menu-a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 15px;
}

nav ul ul li a:hover {
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid white;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 10vw;
    float: none;
    display: list-item;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid transparent;
}

nav ul ul li a {
    line-height: 50px;
}

.show, .icon, input {
    display: none;
}

/* ############################### */
/* ########## container ########## */
/* ############################### */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 80px 0px;
    margin: 50px 20px;
    grid-template-areas: "teams" "training" "indoor_training" "schedule";
}
  
.teams {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "teams_text teams_img";
    grid-area: teams;
}
  
.teams_text {
    grid-area: teams_text;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 30px 50px;
}

.teams_text h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 10px;
}

.teams_text h2 {
    text-align: center;
    margin: 20px;
    color: green;
    font-weight: bold;
}

.teams_text p {
    text-align: justify;
}

.teams_text ul {
    padding-left: 0;
}

.teams_text li {
    list-style-type: none;
    line-height: 30px;
}
  
.teams_img { 
    grid-area: teams_img;
    margin: 0 0;
}
  
.training {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "training_img training_text";
    grid-area: training;
}
  
.training_img { 
    grid-area: training_img;
    margin: 0 0;
}

.training_text { 
    grid-area: training_text;
    background-color: rgb(244, 155, 0, 0.8);
    padding: 30px 50px;
}

.training_text h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 10px;
}

.training_text h2 {
    text-align: center;
    margin: 20px;
    color: white;
    font-weight: bold;
}

.training_text p {
    text-align: justify;
}

.indoor_training {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "indoor_text indoor_img";
    grid-area: indoor_training;
}
  
.indoor_text { 
    grid-area: indoor_text;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 30px 50px;
}

.indoor_text h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 10px;
}

.indoor_text h2 {
    text-align: center;
    margin: 20px;
    color: green;
    font-weight: bold;
}

.indoor_text p {
    /* text-align: justify; */
}

.indoor_img { 
    grid-area: indoor_img;
    margin: 0 0;
}

.schedule {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "schedule_img schedule_text";
    grid-area: schedule;
}
  
.schedule_img {
    grid-area: schedule_img;
    margin: 0 0;
}
  
.schedule_text { 
    grid-area: schedule_text;
    background-color: rgb(244, 155, 0, 0.8);
    padding: 30px 50px;
}

.schedule_text h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 10px;
}

.schedule_text h2 {
    text-align: center;
    margin: 20px;
    color: white;
    font-weight: bold;
}

.schedule_text p {
    text-align: justify;
}

.schedule_text ul {
    padding-left: 0;
}

.schedule_text li {
    list-style-type: none;
    line-height: 30px;
}

/* ############################ */
/* ########## footer ########## */
/* ############################ */

footer {
    display: grid;
    grid-template-columns: 1.5fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "footer-img footer-followUs";
    background-color: rgba(255, 255, 255, 0.5);
}

footer i {
    font-size: 26px;
}

#footerFace {
    color: rgb(66, 103, 178);
}

#footerInsta {
    color: rgb(193, 53, 132);
}

#footerTwit {
    color: rgb(29, 161, 242);
}

.footer-img {
    width: 40vw;
}

#copyright {
    position: sticky;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    padding: 0.5vh 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

/* ############################### */
/* ########## read more ########## */
/* ############################### */

.readmore_btn {
    text-align: center;
    margin-top: 50px;
}

.buttonread {
    display: inline-block;
    border-radius: 4px;
    background-color: #F4511E;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
}

.buttonread span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonread span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonread:hover span {
    padding-right: 25px;
}

.buttonread:hover span:after {
    opacity: 1;
    right: 0;
}
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: scroll;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    /* background-color: #FEFEFE; */
    background: white;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
}
  /* The Close Button */
.close1, .close2, .close3, .close4 {
    color: #E74C3C;
    float: right;
    font-size: 40px;
    font-weight: bolder;
}
.close1:hover, .close2:hover, .close3:hover, .close4:hover, .close1:focus, .close2:focus .close3:focus, .close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.card .bottom-text .btn {
    margin: 10px 0;
    text-align: left;
}
.card .bottom-text .btn a {
    text-decoration: none;
    background: #E74C3C;
    color: #F2F2F2;
    padding: 5px 8px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.2s;
}
.card .bottom-text .btn a:hover {
    transform: scale(0.9);
}

/* ################################ */
/* ########## media part ########## */
/* ################################ */

@media screen and (max-width:1200px) {
    .social-media {
        position: absolute;
        top: 0px;
        right: 20px;
    }
    .social-media li {
        margin-left: 20px;
    }
    /* Menu */
    #menu_media {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        position: absolute;
        left: 0px;
        top: 75px;
        opacity: 0.8;
    }
    nav {
        margin: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
    nav ul {
        margin-right: 0px;
        float: left;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .submenu-content-a {
        display: block;
    }
    nav .logo {
        padding-left: 30px;
        width: 100%;
    }
    .show+a, .menu_media {
        display: none;
    }
    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    .show {
        display: block;
        color: white;
        font-size: 15px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
    }
    .show:hover {
        color: cyan;
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    nav ul ul {
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a {
        padding-left: 0;
        display: block;
    }
    nav ul ul ul a {
        padding-left: 0px;
        text-align: left;
        display: block;
    }
    nav ul ul ul li {
        position: static;
    }
    [id^=btn]:checked+ul {
        display: block;
    }
    nav ul ul li {
        border-bottom: 0px;
    }
    span.cancel:before {
        content: '\f00d';
    }

    /* ##################################### */
    /* ########## media container ########## */
    /* ##################################### */

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 80px 0px;
        grid-template-areas: "teams" "training" "indoor_training" "schedule";
    }
      
    .teams {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "teams_text" "teams_img";
        grid-area: teams;
    }
      
    .teams_text { 
        grid-area: teams_text; 
    }
    
    .teams_img { 
        grid-area: teams_img; 
    }
    
    .training {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "training_text" "training_img";
        grid-area: training;
    }
      
    .training_text { 
        grid-area: training_text; 
    }
    
    .training_img { 
        grid-area: training_img; 
    }
    
    .indoor_training {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "indoor_text" "indoor_img";
        grid-area: indoor_training;
    }
      
    .indoor_text { 
        grid-area: indoor_text; 
    }
    
    .indoor_img { 
        grid-area: indoor_img; 
    }
    
    .schedule {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "schedule_text" "schedule_img";
        grid-area: schedule;
    }
    
    .schedule_text { 
        grid-area: schedule_text; 
    }
    
    .schedule_img { 
        grid-area: schedule_img; 
    }

    /* ################################## */
    /* ########## media footer ########## */
    /* ################################## */

    .footer-img {
        width: 70vw;
    }
}
@media screen and (max-width:450px) {
    .teams_text { 
        padding: 30px 20px;
    }

    .training_text { 
        padding: 30px 20px;
    }

    .indoor_text { 
        padding: 30px 20px;
    }

    .schedule_text { 
        padding: 30px 20px;
    }
}
