* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;    
}
body{
    background-image: url(../images/league_back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* =========== header =========== */
/* Header Menu */
.header{
    background-color: rgba(255, 255, 255, 0.8);
    height: 30px;
}
.header ul{
    list-style-type: none;
    padding-left: 0;
}

/* Social Media Links */
.social-media{
    position: absolute;
    top: 0px;
    right: 10px;
}
.social-media li{
    width: 6vw;
}
.social-media a i{
    font-size: 20px;
    margin-top: 5px;
}
.social-media ul{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

/* =========== menu =========== */
/* Menu */
.menu{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0px;
    height: 100px;
    width: 100%;
    align-items: center;
    z-index: 1;
    list-style-type: none;
}
.menu-a {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 35px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.submenu-content-a {
    color: white;
}
#menu_media {
    align-self: center;
}

.menu-content-li {
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    border-bottom: 2px solid transparent;
}
.menu-content-li:hover {
    border-bottom: 2px solid white;
    background-color: rgb(244, 155, 0, 0.8);
}
.submenu-content {
    position: absolute;
    top: 100px;
    display: none;
    width: 190px;
    text-align: left;
    padding-left: 0;
}
.submenu-content li {
    background-color: rgb(0, 0, 0, 0.8);
    border-bottom: 1px solid transparent;
    padding-top: 10px;
}
.submenu-content li:hover {
    background-color: rgb(244, 155, 0, 0.8);
    border-bottom: 1px solid white;
}

#menu_media li,
.submenu-content li {
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
}
.menu-content-li:hover ul {
    display: block;
}
#menu-media > li:hover {
    cursor: pointer;
    color: white;
    border-bottom: 2px solid black;
}

/* =========== league link =========== */
#league_layout{
    display: flex;
    flex-direction: row;
}
#league_link{
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    top: 200px;
    left: 30px;
    width: 20vw;
    text-align: center;
    padding: 20px 10px;
    border-radius: 2%;
}
#league_link header{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2em;
    margin-bottom: 40px;
}
#league_link a{
    color: white;
    text-transform: uppercase;
}
#league_link a:hover{
    background-color: rgb(244, 155, 0, 0.8);
}

/* =========== league contents =========== */
.catchphrase{
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
    line-height: 110px;
    margin: 15px auto;
}
.league_container:nth-child(odd){
    margin: 70px 0px 0px 350px;
    padding: 30px 50px;
    width: 65vw;
    border-radius: 1%;
    background-color: rgba(255,255,255,0.8);
}
.league_container:nth-child(even){
    margin: 70px 0px 0px 350px;
    padding: 30px 50px;
    width: 65vw;
    border-radius: 1%;
    background-color: rgb(244, 155, 0, 0.8);
}
.league_container header{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    position: relative;
    top: 40px;
}
.league_container h3{
    font-weight: bold;
    text-align: center;
    margin: 60px auto;
}
.league_container ul{
    line-height: 50px;
    font-size: 1em;
}
.league_container li{
    list-style-type: none;
}
.league_container p{
    line-height: 50px;
    font-size: 1em;
}
.league_container h1{
    color: green;
    font-weight: bold;
    text-align: center;
}
.img_center{
    margin: 0 auto;
    text-align: center;
}
.league_img{
    margin: 50px auto;
}
#league_img1{
    width: 40vw;
    height: 40vh;
}

/* =========== footer =========== */
footer{
    position: sticky;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}
#logo_footer{
    margin-top: 20px;
    height: 9vh;
    background-color: rgba(255, 255, 255, 0.8);
}
.footer_logo{
    width: 35vw;
    height: 9vh;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* =========== Hamburger Bar =========== */
.checkbtn{
    font-size: 30px;
    color: white;
    line-height: 80px;
    cursor: pointer;
    margin: 0 0;
    display: none;
}
#check{
    margin: 0 0;
    display: none;
}

/* =========== media =========== */
@media screen and (max-width:1740px){
    #league_img1{
        height: 35vh;
    }
}

@media screen and (max-width:1290px){
    .league_img{
        margin-right: 10px;
    }
    #menu_media {
        padding-left: 0;
    }
    .league_container:nth-child(odd){
        margin-left: 310px;
    }
    .league_container:nth-child(even){
        margin-left: 310px;
    }
}

@media screen and (max-width:1180px){
    nav{
        background-color: rgb(0, 0, 0, 0.7);
        margin: 0 0;
        position: absolute;
        top: 100px;
        left: -100%;
        width: 100%;
        transition: all 0.5s;
    }
    #check:checked ~ nav{
        left: 0%;
    }
    #menu_media{
        display: flex;
        flex-direction: column;
    }
    .checkbtn{
        display: block;
        position: fixed;
        right: 20px;
    }
    .league_container:nth-child(odd){
        width: 60vw;
    }
    .league_container:nth-child(even){
        width: 60vw;
    }
    #league_img{
        width: 60vw;
        height: 20vh;
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width:1030px){
    .league_container:nth-child(odd){
        margin-left: 260px;
    }
    .league_container:nth-child(even){
        margin-left: 260px;
    }
}

@media screen and (max-width:990px){
    #league_layout{
        flex-direction: column;
    }
    #league_link{
        position: relative;
        top: 50px;
        left: 0px;
        width: 80vw;
    }
    #league_main{
        margin-top: 70px;
    }
    .league_container:nth-child(odd){
        margin-left: 0px;
        width: 80vw;
        padding: 30px 30px;
    }
    .league_container:nth-child(even){
        margin-left: 0px;
        width: 80vw;
        padding: 30px 30px;
    }
    #league_img1{
        width: 45vw;
        height: 30vh;
    }
    .league_img{
        width: 40vw;
        height: 25vh;
    }
    .footer_logo{
        width: 40vw;
    }
}

@media screen and (max-width:650px){
    .catchphrase{
        font-size: 4rem;
        line-height: 100px;
        margin: 5px auto;
    }
    #league_img1{
        width: 50vw;
    }
    .footer_logo{
        width: 50vw;
    }
}

@media screen and (max-width:590px){
    #league_main{
        margin-top: 30px;
    }
    .catchphrase{
        font-size: 3rem;
        line-height: 80px;
        margin: 0 auto;
    }
    #league_main div:nth-child(odd){
        width: 80vw;
    }
    #league_main div:nth-child(even){
        width: 80vw;
    }
    .league_img{
        width: 50vw;
        height: 20vh;
    }
    .footer_logo{
        width: 55vw;
    }
}

@media screen and (max-width:375px){
    #league_link{
        top: 60px;
        left: 27px;
        margin-left: 0;
    }
    #league_main div:nth-child(odd){
        width: 75vw;
        margin-top: 100px;
    }
    #league_main div:nth-child(even){
        width: 75vw;
        margin-top: 100px;
    }
    .league_container h3{
        margin-bottom: 40px;
    }
    .league_container ul{
        line-height: 35px;
    }
    .league_container p{
        line-height: 35px;
    }
    #league_img1{
        width: 55vw;
        height: 25vh;
    }
    .league_img{
        height: 15vh;
    }
    #league_img1{
        width: 55vw;
    }

@media screen and(max-width:345px){
    #league_link{
        left: 23px;
    }
}

}