
*{

    box-sizing: border-box;
}

#main {
    background-color: #ffd700; 
}



ul{
list-style-type: none;
margin: 0px;
padding: 0;
overflow: hidden;
background-color: #030303;

}

li {

    float: left;
}

li a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {

    background-color: rgba(180, 180, 8, 0.747);
}
@media screen and (max-width: 768px) {
    #main .active {   
      width: 100%;
      padding: 0;
    }
  }
  @media screen and (max-width: 425px) {
    #main .active {   
      width: 100%;
      padding: 0;
    }
  }