

div {
    background-color: #ffd700; 
}

ul{
list-style-type: none;
margin: 0px;
padding: 0;
overflow: hidden;
background-color: #ffd700;

}

li {

    float: left;
}

li a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {

    background-color: rgba(180, 180, 8, 0.747);
}