#slide-container {
    display: block;
    margin: 0 auto ;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#slideshow{
    width: 450px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.69);
}
#image_box{
    width: 1350px;
    position: relative;
    transition: left 2s;
}
.slider-image {
    width: 450px;
    height: 300px;
}
.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}
.slider-button {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 55px;
    background-color: #fff;
    border: 1px solid skyblue;
    margin: 0 5px 0 5px;
}
.slider-button:hover {
    cursor: pointer;
    background-color: tomato;
}
#slider-image-1:target~#image_box {
    left: 0px;
}
#slider-image-2:target~#image_box {
    left: -450px;
}
#slider-image-3:target~#image_box {
    left: -900px;
}
#button_box {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}